/* Flex grid on the Home Page */
.features {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  justify-content: space-around;
}
.feature {
  flex: 0 0 30%;
  padding: 0 10px;
}
.feature-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;

  i {
    font-size: 30px;
    margin-right: 10px;
  }

  h2 {
    font-size: 20px;
    margin: 0;
  }
}
.feature-body p {
  font-size: 18px;
  font-weight: 300;
}
