<!-- BANNER -->
<div class="banner">
  <!-- Navbar : to put in a partial -->
  <%= render 'shared/navbar' %>
  <!-- Banner content -->
  <div class="banner-content">
    <h1>Relaxing, Elegant and Comforting</h1>
    <p>The key to happiness is hidden in their purr.</p>
  </div>
</div>
<!-- 1st SECTION : Why use KittyPal -->
<div class="home-section-1">
  <h1>Tend to your dream cats.</h1>
  <div class="features">
    <div class="feature">
      <div class="feature-header">
        <div class="feature-icon">
          <i class="material-icons">group</i>
        </div>
        <div>
          <h2> Help your community</h2>
        </div>
      </div>
      <div class="feature-body">
        <p>
          By using KittyPal, you get to pet and tend to adorable kittens and cat, but you also help people in your city. Babysitting their cat will give them the time needed to travel, enjoy a romantic weekend away or let them visit their family. You're having fun, they're having fun, and we all make for a happy community !
        </p>
      </div>
    </div>
    <div class="feature">
      <div class="feature-header">
        <div class="feature-icon">
          <i class="material-icons">lightbulb_outline</i>
        </div>
        <div>
          <h2> Learn about felines</h2>
        </div>
      </div>
      <div class="feature-body">
        <p>
          Explore KittyPal and learn about activities, nutrition, behaviour and how to prevent common diseases. Cat's health is our priority, because happy cats make for great stress-relievers. We'll make sure to provide useful information to help owners and helpers give proper care to our feline friends.
        </p>
      </div>
    </div>
    <div class="feature">
      <div class="feature-header">
        <div class="feature-icon">
          <i class="material-icons">insert_emoticon</i>
        </div>
        <div>
          <h2> Relax and enjoy</h2>
        </div>
      </div>
      <div class="feature-body">
        <p>
          Our aim is to give you an opportunity to either entrust your precious pet to someone competent and loving, or to let you care for all the cats you wish you had but don't necesseraly have the money or the space to bring one home all year long. Besides, a cat is a great shield against negative vibes in the house !
        </p>
      </div>
    </div>
  </div>
  <div class="learn-more">
    <a href="#">Learn more</a>
  </div>
</div>
<!-- 2nd SECTION : Customer testimonies (carousel) -->
<div class="home-section-2">

</div>
<!-- 3rd SECTION : Appeal, try today (3 trending) -->
<!-- FOOTER -->
