<!-- BANNER -->
<div class="banner">
  <!-- Navbar : to put in a partial -->
  <%= render 'shared/navbar' %>
  <!-- Banner content -->
  <div class="banner-content">
    <h1>Relaxing, Elegant and Comforting</h1>
    <p>The key to happiness is hidden in their purr.</p>
  </div>
</div>
<!-- 1st SECTION : Why use KittyPal -->
<div class="home-section-1">
  <h1>Tend to your dream cats.</h1>
  <div class="features">
    <div class="feature">
      <div class="feature-header">
        <div class="feature-icon">
          <i class="material-icons">group</i>
        </div>
        <div>
          <h2> Help your community</h2>
        </div>
      </div>
      <div class="feature-body">
        <p>
          By using KittyPal, you get to pet and tend to adorable kittens and cat, but you also help people in your city. Babysitting their cat will give them the time needed to travel, enjoy a romantic weekend away or let them visit their family. You're having fun, they're having fun, and we all make for a happy community !
        </p>
      </div>
    </div>
    <div class="feature">
      <div class="feature-header">
        <div class="feature-icon">
          <i class="material-icons">lightbulb_outline</i>
        </div>
        <div>
          <h2> Learn about felines</h2>
        </div>
      </div>
      <div class="feature-body">
        <p>
          Explore KittyPal and learn about activities, nutrition, behaviour and how to prevent common diseases. Cat's health is our priority, because happy cats make for great stress-relievers. We'll make sure to provide useful information to help owners and helpers give proper care to our feline friends.
        </p>
      </div>
    </div>
    <div class="feature">
      <div class="feature-header">
        <div class="feature-icon">
          <i class="material-icons">insert_emoticon</i>
        </div>
        <div>
          <h2> Relax and enjoy</h2>
        </div>
      </div>
      <div class="feature-body">
        <p>
          Our aim is to give you an opportunity to either entrust your precious pet to someone competent and loving, or to let you care for all the cats you wish you had but don't necesseraly have the money or the space to bring one home all year long. Besides, a cat is a great shield against negative vibes in the house !
        </p>
      </div>
    </div>
  </div>
  <div class="learn-more">
    <a href="#">Learn more</a>
  </div>
</div>
<!-- 2nd SECTION : Customer testimonies (carousel) -->
<div class="home-section-2">
  <h1>They love it !</h1>
  <div class="carousel">
    <div class="carousel-center">
      <div class="testimony">
        <p class="testimony-text">"I was skeptic at first, but when I tried KittyPal the first time, my life completely changed ! I'm a better person now, and caring for cats has reduced how stressed I usually feel."</p>
        <div class="line-separator">
          <div class="side-line"></div>
          <div class="triangle"></div>
          <div class="side-line"></div>
        </div>
        <p class="testimony-author"><strong>Lisa</strong>, University student.</p>
      </div>
      <div class="testimony">
        <p class="testimony-text">"I was skeptic at first, but when I tried KittyPal the first time, my life completely changed ! I'm a better person now, and caring for cats has reduced how stressed I usually feel."</p>
        <div class="line-separator">
          <div class="side-line"></div>
          <div class="triangle"></div>
          <div class="side-line"></div>
        </div>
        <p class="testimony-author"><strong>Lisa</strong>, University student.</p>
      </div>
      <div class="testimony">
        <p class="testimony-text">"I was skeptic at first, but when I tried KittyPal the first time, my life completely changed ! I'm a better person now, and caring for cats has reduced how stressed I usually feel."</p>
        <div class="line-separator">
          <div class="side-line"></div>
          <div class="triangle"></div>
          <div class="side-line"></div>
        </div>
        <p class="testimony-author"><strong>Lisa</strong>, University student.</p>
      </div>
      <div class="testimony">
        <p class="testimony-text">"I was skeptic at first, but when I tried KittyPal the first time, my life completely changed ! I'm a better person now, and caring for cats has reduced how stressed I usually feel."</p>
        <div class="line-separator">
          <div class="side-line"></div>
          <div class="triangle"></div>
          <div class="side-line"></div>
        </div>
        <p class="testimony-author"><strong>Lisa</strong>, University student.</p>
      </div>
      <div class="testimony">
        <p class="testimony-text">"I was skeptic at first, but when I tried KittyPal the first time, my life completely changed ! I'm a better person now, and caring for cats has reduced how stressed I usually feel."</p>
        <div class="line-separator">
          <div class="side-line"></div>
          <div class="triangle"></div>
          <div class="side-line"></div>
        </div>
        <p class="testimony-author"><strong>Lisa</strong>, University student.</p>
      </div>
    </div>
  </div>
</div>
<!-- 3rd SECTION : Appeal, try today (3 trending) -->
<div class="home-section-3">
  <h1>Find a cat today !</h1>
  <div class="offers">
    <div class="offer">
      <div class="offer-header offer-1"></div>
      <div class="offer-body">
        <h2>Name of the cat</h2>
        <p>description (truncate 140 chars)</p>
        <p class="price">£ price</p>
        <a href="#" class="offer-btn">book now</a>
      </div>
    </div>
    <div class="offer">
      <div class="offer-header offer-2"></div>
      <div class="offer-body">
        <h2>Name of the cat</h2>
        <p>description (truncate 140 chars)</p>
        <p class="price">£ price</p>
        <a href="#" class="offer-btn">book now</a>
      </div>
    </div>
    <div class="offer">
      <div class="offer-header offer-3"></div>
      <div class="offer-body">
        <h2>Name of the cat</h2>
        <p>description (truncate 140 chars)</p>
        <p class="price">£ price</p>
        <a href="#" class="offer-btn">book now</a>
      </div>
    </div>
  </div>
</div>
<!-- Footer : to put in a partial -->
<div class="footer">
  <div class="foot-text">
    <p>Since you came here to read this, have one <i class="fa fa-paw" aria-hidden="true"></i> for free !</p>
    <p>KittyPal is a project by <a href="https://github.com/SoundOfSun/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> SoundOfSun</a></p>
  </div>
  <div class="foot-links">
    <div class="foot-link">
      <a href="">about</a>
    </div>
    <div class="foot-link">
      <a href="">history</a>
    </div>
    <div class="foot-link">
      <a href="">contact us</a>
    </div>
    <div class="foot-link">
      <a href="">free booking</a>
    </div>
  </div>
</div>
<!-- JavaScript : To be moved to JS files -->
<%= content_for :after_js do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.carousel-center').slick({
        dots: true,
        arrows: true,
        infinite: true,
        centerMode: true,
        centerPadding: '100px',
        slidesToShow: 1,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 3
            }
          },
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1
            }
          }
        ]
      });
    });
  </script>
<% end %>
