<!-- BANNER -->
<div class="banner">
  <!-- Navbar : to put in a partial -->
  <%= render 'shared/navbar' %>
  <!-- Banner content -->
  <div class="banner-content">
    <h1>Relaxing, Elegant and Comforting</h1>
    <p>The key to happiness is hidden in their purr.</p>
  </div>
</div>
<!-- 1st SECTION : Why use KittyPal -->
<!-- 2nd SECTION : Customer testimonies (carousel) -->
<!-- 3rd SECTION : Appeal, try today (3 trending) -->
<!-- FOOTER -->
