/* Medium-type button */
a.nav-btn {
  color: $white;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid $white;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: uppercase;

  &:link, &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
  }

  &:hover {
    color: $red!important;
    border-color: $red;
  }

  &:visited {
    color: $white;
  }
}
